.rubricasContainer
    width: 100% 
    display: flex 
    justify-content: space-between
    margin-bottom: 30px

.formTitleContainer
    width: 100% 
    border-bottom: 1px solid #2980b9
    padding-bottom: 5px
    margin: 20px 0

.formSearchResultContainer
    width: 100% 
    // padding: 20px

.formSubmitedContainer
    display: flex 
    flex-direction: column 
    align-items: center 
    margin-top: 50px

    h4 
        margin: 40px 0 

